{% load static %}
{% load gravatar %}


<!-- footer start -->
<footer class="footer">
    <div class="footer_top text-right">
        <div class="container align-right">
            <div class="row">

                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            ما را دنبال کنید در
                        </h3>
                        <ul>
                            <li><a href="#">Dribbble</a></li>
                            <li><a href="#">Behance</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            لینک های کاربردی
                        </h3>
                        <ul>
                            {% for cat in category %}

                                <li><a href="{% url 'category' cat.slug %}">{{ cat.Title }}</a></li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3">
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4 align-left ">
                    <div class="footer_widget">
                        <div class="logo_footer">
                            <a href="{% url 'blog' %}">
                                <img src="{% gravatar_url 'a_sh1379@yahoo.com' 250 %}" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">

                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This website is made with by <a
                            href="https://hr-arsha.ir" target="_blank">HR-ArshA</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer end  -->