{% load render_partial %}
{% load static %}
{% load gravatar %}

<!doctype html>
<html class="no-js" lang="zxx" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hr ArshA{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    {% include 'blog/shared/HeaderRefrences.html' %}

</head>

<body>

<!-- header-start -->
{% render_partial 'header' %}

<!-- header-end -->

{% block content %}
{% endblock %}

<!-- footer start -->
{% render_partial 'footer' %}
<!--/ footer end  -->


<!-- JS here -->
{% include 'blog/shared/FooterRefrences.html' %}
</body>
</html>