{% extends 'blog/Base.html' %}

{% block content %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Hr ArshA</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0 text-right">
                    <div class="blog_left_sidebar">
                        {% for post in object_list %}
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="{{ post.Image.url }}" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>{{ post.jpublish }}</h3>

                                    </a>
                                </div>

                                <div class="blog_details">
                                    <a class="d-inline-block" href="{% url 'blog_detail' post.slug %}">
                                        <h2>{{ post.Title }}</h2>
                                    </a>
                                    <p>{{ post.Description|safe|truncatewords:20 }}</p>
                                    <ul class="blog-info-link">
                                        <li><a href="#"><i class="fa fa-user"></i> {{ post.Author.get_full_name }}</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>Comments</a></li>
                                    </ul>
                                </div>
                            </article>
                        {% endfor %}
                        {% if is_paginated %}
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}

                                        <li class="page-item">
                                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
                                               aria-label="Previous">
                                                <i class="ti-angle-right"></i>
                                            </a>
                                        </li>

                                    {% endif %}
                                    {% for page in paginator.page_range %}

                                        {% if page == page_obj.number %}
                                            <li class="page-item active">
                                                <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                                            </li>
                                        {% endif %}

                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.next_page_number }}" class="page-link"
                                               aria-label="Next">
                                                <i class="ti-angle-left"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar text-right">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'جست و جو'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">جست و جو
                                </button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">دسته بندی</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Resaurant food</p>
                                        <p>(37)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">آخرین ارسال ها</h3>
                            {% for post in object_list %}

                                <div class="media post_item">
                                <img src="{{ post.Image.url }}" width="50px" alt="post">
                                <div class="media-body " style="padding-right: 10px">
                                    <a href="#">
                                        <h3>{{ post.Title|truncatewords:3 }}</h3>
                                    </a>
                                    <p>{{ post.jpublish }}</p>
                                </div>
                            </div>

                            {% endfor %}

                        </aside>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

{% endblock %}