{% extends 'blog/Base.html' %}
{% load render_partial %}
{% load comment_tags %}
{% load gravatar %}

{% block content %}


    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{ post.Title }}</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
        <div class="container text-right">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid d-block mx-auto rounded" src="{{ object.Image.url }}" alt="">
                        </div>
                        <div class="blog_details text-justify">
                            {{ post.Description|safe }}
                        </div>
                    </div>
                    <hr>
                    <div class="blog-author">
                        <div class="media align-items-center ">
                            <img src="{% gravatar_url "a_sh1379@yahoo.com" 90 %}" alt="">
                            <div class="media-body mr-3">
                                <a href="{% url 'author' post.Author %}">
                                    <h4>{{ post.Author.get_full_name }}</h4>
                                </a>
                                <hr>
                                <p>{{ post.Author.bio|safe }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="comment-form align-right ">
                        {% render_comments object request %}
                        {% include_bootstrap %}

                    </div>
                </div>
                {% render_partial 'sidebar' %}
            </div>
        </div>
    </section>
    <!--================ Blog Area end =================-->


{% endblock %}