{% extends 'blog/Base.html' %}

{% block title %} | ورود {% endblock %}

{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3></h3>
                    </div>
                </div>
            </div>

            <!-- /bradcam_area  -->

            <div class="container align-center">
                <div class="">
                    <section id="form"><!--form-->
                        <div class="row">
                            <div class="m-auto ml-5">
                                <div class="login-form "><!--login form-->
                                    <div class="">
                                        <form method="post" class="form-control text-right mt-5 mb-5 ml-5"
                                              style="border: none">
                                            <div class="breadcrumb "><h2>ورود به حساب کاربـری :</h2></div>
                                            {% csrf_token %}
                                            {#{{ login_form }}#}
                                            <label for="{{ login_form.user_name.id_for_label }}">{{ login_form.user_name.label }}</label>
                                            <br>
                                            {{ login_form.user_name }}
                                            {% for error in login_form.user_name.errors %}

                                                <p class="text-danger">{{ error }}</p>

                                            {% endfor %}
                                            <br>
                                            <label class="mt-3"
                                                   for="{{ login_form.password.id_for_label }}">{{ login_form.password.label }}</label>
                                            <br>
                                            {{ login_form.password }}
                                            {% for error in login_form.password.errors %}

                                                <p class="text-danger">{{ error }}</p>

                                            {% endfor %}
                                            <br>
                                            <span class="mt-3 mb-3">
								                <input type="checkbox" class="checkbox">
								                مرا بخاطـر بسپـار
							                </span>
                                            <br>
                                            <span>
								                <a href="{% url 'register' %}" class="bold">ثیت نام</a>
							                </span>
                                            <span>
                                               /
                                           </span>
                                            <span>
                                                <a href="forget-password.html"
                                                   class="">رمـز عبـور خود را فراموش کرده ام</a>
							                </span>
                                            <br>

                                            <div class="">
                                                <button type="submit" class="btn btn-primary mt-3 col-12 align-center">
                                                    ورود
                                                </button>
                                            </div>

                                        </form>
                                    </div>
                                </div><!--/login form-->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--/form-->
        </div>
    </div>

{% endblock %}